PIPELINES_API_KEY=change-this

OPENWEBUI_BASE_URL=http://open-webui:8080
OPENWEBUI_API_KEY=put-your-openwebui-api-key-here


WHISPER_MODEL=medium
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8
WHISPER_LANGUAGE=ru

HF_TOKEN=hf_your_token
DIARIZATION_MODEL=pyannote/speaker-diarization-community-1
DIARIZATION_DEVICE=cpu